
<div class="container">
  <br/>
  <h2>Upcoming Events</h2>
  <hr/>
  <%= render 'list', events: @upcoming_events %>

  <br/>
  <h2>Past Events</h2>
  <hr/>
  <%= render 'list', events: @past_events %>
</div>