/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";

.nav-logo {
    width: 290px;
    height: 90px;
}

.nav-button {
    width: 106px;
    text-align: center;
}

.nav-bottom-line {
    border-bottom: 5px solid black;
}

.object-color {
    background-color: #E4E4E4;
    text-decoration: #575757;
}

.card-link a {
    text-decoration: none;
    color: black;
}

.card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    white-space: nowrap;
}

.card-content-bottom {
    display: inline-block;
    vertical-align: baseline;
}

.button-content {
    white-space: normal;
}


.img-circular{
 width: 40px;
 height: 40px;
 background-size: cover;
 display: block;
 border-radius: 50%;
}

.right1 {
 position: absolute;
 right: 0px;
 width: 280px;
}

.right2 {
 position: absolute;
 right: 0px;
 width: 150px;
}

.right3 {
 position: absolute;
 right: 0px;
 width: 100px;
}

.right4 {
 position: absolute;
 right: 0px;
 width: 12.5%;
}

.in {
 display: inline-block;
 width: 100px;
 height: 100px;
}


/*
.icon-effect{
    color: lightgray;
}

.icon-effect:hover{
    color: gray;
}

//font awesome
*/