/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";

.nav-logo {
    width: 290px;
    height: 90px;
}

.nav-button {
    width: fit-content;
    text-align: center;
}

.nav-bottom-line {
    border-bottom: 5px solid black;
}

.object-color {
    background-color: #E4E4E4;
    text-decoration: #575757;
}

.card-link a {
    text-decoration: none;
    color: black;
}

#logo {
    margin-right: 2%;
}

.card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    white-space: nowrap;
}

.card-content-bottom {
    display: inline-block;
    vertical-align: baseline;
}

.button-content {
    white-space: normal;
}

.group-event-row {
    margin-bottom: 1rem;
}

.img-circular{
 width: 43px;
 height: 43px;
 border-radius: 50%;
}

.flexVerticalContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  /* This aligns items to the end line on main-axis */
  margin-left: auto;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .flexVerticalContainer {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .flexVerticalContainer {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.flexVerticalItem {
    margin-left: 5px;
    margin-right: 5px;
}


.flexHorizontalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarFooter {
    font-weight: bold;
    line-height: 0px;
    padding-bottom: 0.7rem;
    padding-top: 0.5rem;
    font-size: large;
    font-family: sans-serif;
}

#userAvatar {
    margin-right: 15px;
}


ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}

ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: center;
}
ul li a{
    display: block;
    padding: 0px;
    color: #333;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #007bff;
}
ul li ul.dropdown{
    min-width: 125px; /* Set width of the dropdown */
    background: #007bff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}


